/*
Main styles of the web page
*/

@import 'builder';
p{
  @include paragraph (17px, $secundary-color)
}
.innerContainer{
  @include box-set-up (auto,#FFF, 110px);
  //margin: auto;
  //width: 970px;
}
header{
  @include box-set-up (100px,#FFF, 100px);
  text-align: right;
  padding: 0px;
  margin: 0px;
  ul{
    list-style: none;
    margin-top: 38px;
  }
  li{
    display: inline;
    padding: 2%;
  }
}
.logo{
  margin-top: 28px;
  text-align: left;
}
// content
.hrContainer {
  width: 240px - 970px;
}
.primaryHr{
  @include custome-hr($primary-color);
}
.categoriesBlock{
  @include main-box-setup (auto,#FFF, 460px, 20px);
  text-align: center;
  padding-top: 40px;
}
.cleanA{
    color: #fff;
  }
.categories{
  @include main-box-setup (auto,#FFF, 200px, 10px);
  margin-top: 68px;
}
.rulesBlock{
  @include main-box-setup (auto,#FFF, 180px, 10px);

  h4{
    color: $primary-color;
  }
  ul{
    padding-left: 15px;
  }
}
// footer
footer{
  @include main-box-setup (auto,$primary-color, 180px, 20px);
  padding-top: 30px;
  color: #fff;
  p{
    color: #fff;
  }
  table, td, tr, tbody{
    border: 0px;
  }
}
.footerInnerContainer{
  @include box-set-up (auto,$primary-color, 200px);
}
.prodigiousLogo{
  @include main-box-setup (auto,#FFF, 40px, 20px);
  text-align: right;
  img{
    float: right;
  }
}
.footerContactBlock{
  @include box-set-up (auto,$primary-color, 15px);
  margin: 0px;
  padding: 0px;
  a{
    color: #fff;
  }
}
.footerContactBlock2{
  @include box-set-up (auto,$primary-color, 15px);
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  a{
    color: #fff;
  }
}
.rightLine{
  border-right: 1px solid #FFF;
}
/*
  Resourses
*/
//design
.resoursesMainBlock{
  @include main-box-setup (auto,#FFF, 280px, 20px);
  text-align: center;
  padding-top: 40px;
  h1{
    text-transform: uppercase;
  }
}
.designResoursesBlock{
  @include main-box-setup (auto,#FFF, 180px, 10px);
  padding-bottom: 50px;

  h4{
    color: $design-color;
  }
  .primaryHr{
    @include custome-hr($design-color);
  }
}
.redHighlight{
  font-weight: bold;
  color: $design-color;
}
//development
.developmentResoursesBlock{
  @include main-box-setup (auto,#FFF, 180px, 10px);
  padding-bottom: 50px;

  h4{
    color: $development-color;
  }
  .primaryHr{
    @include custome-hr($development-color);
  }
}
.greenHighlight{
  font-weight: bold;
  color: $development-color;
}
//motion
.motionResoursesBlock{
  @include main-box-setup (auto,#FFF, 180px, 10px);
  padding-bottom: 50px;

  h4{
    color: $motion-color;
  }
  .primaryHr{
    @include custome-hr($motion-color);
  }
}
.motionHighlight{
  font-weight: bold;
  color: $motion-color;
}
//QA
.qaResoursesBlock{
  @include main-box-setup (auto,#FFF, 180px, 10px);
  padding-bottom: 50px;

  h4{
    color: $qa-color;
  }
  .primaryHr{
    @include custome-hr($qa-color);
  }
}
.qaHighlight{
  font-weight: bold;
  color: $qa-color;
}
.resourse1{
  @include box-set-up (auto,#fff, 10px);
  padding: 10px 5px 0px 5px;
}
.resourse2{
  @include box-set-up (auto,#E2F4FB, 10px);
  padding: 10px 5px 0px 5px;
}
.greenHighlight{
  font-weight: bold;
  color: $development-color;
}
/*
  Profile
*/
.buttonContainer{
  @include box-set-up (auto,#FFF, 90px);
  padding-bottom: 40px;
}
.bookButton{
  @include custom-button(35px, 10px, $primary-color);
  color: #fff;
  width: auto;
  float: right;
  margin-bottom: 40px;
}
$primary-lighten: lighten($primary-color, 20);
.bookButton:hover{
  @include custom-button(35px, 10px, $primary-lighten);
}

//Login form
.form {
  margin: 100px 0;
  h1{
    text-align: center;
  }
  p{
    text-align: left;
    text-transform: uppercase;
    color: $primary-color;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    font-weight: bold;
    &::after{
      content:"";
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      position: absolute;
      bottom: 5px;
      left: 220px;
    }
  }
  form{
    text-align: left;
    margin-top: 50px;
    label{

    }
    input{
      background-color: LightGray;
      border-radius: 0;
    }
    .btn-default{
      background-color: $primary-color;
      width: 150px;
      border-radius: 0;
      float: right;
      &:hover{
        background-color: #7c45c9;
      }
      &:active {
        background-color: #7c45c9 !important;
      }
      color: white !important;
    }
  }
}

//Availability page

a{
  &.circle {
    width: 28px;
    height: 28px;
    background-color: #81BF40;
    border-radius: 100%;
    display: inline-block;
    margin-right: 15px;
  }
  &.half_booked{
    background: url("../images/half_booked.png") no-repeat;
  }
  &.booked{
    background: url("../images/booked.png") no-repeat;
  }
}
/*
admin
*/
.welcomeBar{
  @include main-box-setup (auto,$primary-color, 10px, 10px);
  padding: 5px;
  color: #fff;
  p{
    color: #fff;
  }
}
.adminBarContainer{
  @include box-set-up (auto,$primary-color, 0px);
  text-align: right;
}
/*
  Media Queries
*/
@media (max-width: 1300px){
  table, td, tr, tbody{
    border: 0px;
    display: block;
  }
}
@media (max-width: 1000px){
  .categoryContainer{
    width: 100%;
    margin: 0%;
  }
  .footerInnerContainer{
    width: 90%;
    margin-right:  5%;
    margin-left:  5%;
  }
  .innerContainer{
    width: 90%;
    margin-left: 5%;
  }
  table, td, tr, tbody{
    border: 0px;
    display: block;
  }
}
@media (max-width: 768px){
  .innerContainer{
    width: 100%;
    padding: 30px;
    margin-left: 0%;
  }
  .categoriesBlock{
    margin-bottom: 40px;
  }
  .categories{
    width: 50%;
    margin: 0px;
    float: left;
  }
  table, td, tr, tbody{
    border: 0px;
    display: block;
    text-align: center;
    padding: 5px;
  }
  .rightLine{
    border-right: 0px;
  }
  .resourse1{
    padding: 10px;
  }
  .resourse2{
    padding: 10px;
  }
}
@media (max-width: 400px){
  .innerContainer{
    width: 100%;
    padding: 30px;
    margin-left: 0%;
  }
}
